.block-supply-stats {
    margin-top: 60px;
    @include media-breakpoint-up(md) {  
        margin-top: 66px;
    }
    @include media-breakpoint-up(3xl) {
        margin-top: 86px;
    }
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(var(--supply-fold-color),.39);
    h4.stats {
        font-size: 84px;
        font-weight: 500;
        margin-bottom: 4px;
        line-height: 84px;
        @include media-breakpoint-up(dlg) {
            font-size: 112px;
            line-height: 112px;
            margin-bottom: 12px;
        }
        @include media-breakpoint-up(3xl) {
            font-size: 160px;
            line-height: 160px;
        }
    }
    .col-md-4 {
        margin-bottom: 44px;
        p {
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
            @include media-breakpoint-up(dlg) {
                font-size: 20px;
            }
            
            @include media-breakpoint-up(3xl) {
                font-size:28px
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
blockquote.wp-block-quote {
    border-left: none!important;
    padding: 60px 0 0;
    line-height: 1.33;
    margin-bottom: 0px;
    display: block;
    p:first-child::before {
        content: '“';
        @include media-breakpoint-down(md) {    
            left: 20px;
            position:absolute;
        }
    }
    cite:before {
        content: "— ";
        font-weight: 600;
        @include media-breakpoint-down(md) {    
            position: absolute;
            left: 22px;
            margin-top: 8px;
        }
    }
    @include media-breakpoint-down(md) {    
        p, cite {
            margin-left: 12px;
            position:static;
        }
    }
}
.block-supply-content-block {
    padding-top: 100px;
    padding-bottom: 100px;
    
    @include media-breakpoint-down(md) {
        h5 {
            font-size: 32px;
        }
    }
    h1, h2, h3, h4, h5, h6, .h7, .h8 {
        margin-bottom: 28px;
        line-height: 1.125;
        @include media-breakpoint-down(3xl) {
            margin-bottom: 40px;
        }
    }
}
blockquote.wp-block-quote {
    .seperator {
        opacity: 0.6; // suppose to be .39 but .39 here shows up ligher then if it was rgb,.39
        padding-bottom: 60px;
        border-bottom: 1px solid var(--supply-fold-color);
    }
    @include media-breakpoint-up(md) {    
        .seperator {
            padding-bottom: 80px;
        }
    }
    @include media-breakpoint-up(3xl) {
        .seperator {     
            padding-bottom: 100px;
        }
    }
}
.block-case-study-intro {
    .seperator {
        opacity: 0.39;
        padding-bottom: 60px;
        border-bottom: 1px solid var(--supply-fold-color);
    }
    @include media-breakpoint-up(md) {    
        .seperator {
            padding-bottom: 80px;
        }
    }
    @include media-breakpoint-up(3xl) {
        .seperator {     
            padding-bottom: 100px;
        }
    }
}
.bg-light {
    .block-supply-stats {
        border-bottom: 1px solid rgba(var(--bs-primary-rgb),.39);
    }
}
.bg-dark {
    .block-supply-stats {
        border-bottom: 1px solid rgba(var(--bs-white-rgb),.39);
    }
}
.block-supply-separator-block {
    border-bottom: 1px solid var(--supply-fold-color) !important;
    opacity: 0.39;

}

.block-supply-list-block {
    .supply-list {
        p {
            font-family: $link_font;
            line-height: 1.714;
            font-size: 14px;
            opacity: 0.75;
            @include media-breakpoint-up(3xl) {
                font-size: 18px;
            }
        }
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}
.under-nav {
    header.page-header {
        @include media-breakpoint-up(md) {
            padding-top: 280px;
        }
    }
}
header.page-header {
    padding-top: 80px;
    padding-bottom: 60px;
    @include media-breakpoint-up(md) {
        padding-top: 160px;
    }
    
    h1 {
        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
    }
}
.page.content {
    .row {
        @include media-breakpoint-up(dlg) {
            .sidebar {
                margin-top: 198px;
            }
        }
    }
}
.header-partial {
    .main-image {
        height: 100% !important;
    }
    header.page-header + img {
        height: 100%;
        min-width: 100%;
    }
    @include media-breakpoint-up(md) {
        overflow: hidden;
        height: 930px;
    }   
    @include media-breakpoint-up(xl) {
        header.page-header {
            padding-bottom: 282px;
        }
    }
    @include media-breakpoint-up(3xl) { 
        height: 1057px;
    }
    @include media-breakpoint-up(4xl) { 
        height: 1350px;
    }
    .main-image {
        min-height: 100% !important;
        min-width: 100%;
    }

    header.page-header {
        @include media-breakpoint-up(md) {
            text-align: center;
        }
    }
    
}
.block-supply-logo-garden {
    padding-top: 84px;
    img {
        margin-bottom: 39.8px;
        height: 36px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 136px;
       img {
            height: 45px;
            margin-bottom: 95px;
        }
    }
    
    @include media-breakpoint-up(xl) {  
        img {
             height: 60px;
             margin-bottom: 80px;
         }
    }
    @include media-breakpoint-up(3xl) {
        padding-top: 180px;
    }
    > .spacer.cp4 {
        margin-bottom: 0;
        padding-top: 136px;
    }
}
.block-supply-contact-block {
    .footer-content {
        color: var(--supply-fold-color);
        -webkit-transition: background-color .6s ease,color .6s ease, opacity .6s ease;
        transition: background-color .6s ease,color .6s ease, opacity .6s ease;
        will-change: background-color,color, opacity;
        a {
            font-size: inherit;
            font-family: inherit;
        }
        p {
            margin-bottom: 0;
            margin-top: 0;
            a {
                border-bottom: none;
                opacity: 1;
            }
        }
        .footer-label {
            font-size: 14px;
            opacity: 0.75;
            margin-bottom: 18px;
        }
    }
    @include media-breakpoint-up(lg) { 
        .supply-underline {
            a {
                .nav-underline {
                    width: 100%;
                }
            }
        }
    }
}
.block-supply-feature-block {
    .tagline-section {
        h3 {
            margin-bottom: 28px;
        }
        p {
            line-height: 1.667;
        }
        @include media-breakpoint-up(xl) {
            h3 {
                font-size: 52px;
            }
            a {
                font-size: 18px;
            }
            p {
                font-size: 20px;
            }
        }
        @include media-breakpoint-up(3xl) {
            h3{
                font-size: 62px;
                margin-bottom: 40px;
            }
            a {
                font-size: 20px;
            }
            p {
                font-size: 28px;
            }
        }
        .row {
            align-items: center;

        }
    }
}
.tagline-section {
    .logo-carousel{
        @include media-breakpoint-down(md) {
            margin-top: 60px;
        }
        .logo-container {
            text-align: center;
            img {
                margin: 0 auto;
                width: 206px;
                @include media-breakpoint-up(xl) {
                    width: 246px;
                }
                @include media-breakpoint-up(3xl) {
                    width: 329px;
                }
            }
        }
        .box {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .swap1 {
                transition-delay:0.2s;
                li {
                transition-delay: 0.2s;
                }
            }
            .swap, .swap1 {
                list-style: none;
                display: block;
                position: relative;
                margin-bottom:60px;
                min-width: 206px;
                min-height: 69px;
                transition-duration: .5s;
                @include media-breakpoint-up(dlg) {
                    min-height: 44px;
                }
                @include media-breakpoint-up(xl) {
                    min-height: 82px; 
                }
                @include media-breakpoint-up(3xl) {
                    min-height: 109px; 
                }
                li {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                white-space: nowrap;
                
                border-radius: .2em;
                padding: .2em .5em;
                transition-property: opacity;
                transition-duration: 0.4s;
                
                &.visible {
                    opacity: 1;
                }
                }
            }
        }
    }
}
.posts-loop.cp4 {
    padding-top: 20px;
    .col-md-6 .card .card-title {
        margin-bottom: 0;
    }
}
.block-posts-content-block, .posts-loop {
    article.cp3 {
        @include media-breakpoint-down(md) {
            margin-bottom: 60px;
        }
    }
    .card {
        transition: opacity .3s ease-in-out;
            .post-thumbnail {
                transition: opacity .3s ease-in-out;
                position: relative;
                &:after{
                    transition: opacity .3s ease-in-out;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left:0;
                    top:0;
                    content:'';
                    background-color: #000;
                    opacity:0;
                }
            }
        &:hover {
            .post-thumbnail {
                &:after{
                //    opacity:.25;
                }
            }
        }
    }
}
.block-supply-call-to-action, .call-to-action-section {
    h1 {
        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
        @include media-breakpoint-up(md) {
            line-height: 1.27;
        }
    }
}
@include media-breakpoint-up(md) {
    .block-supply-feature-block { 
        p {
            line-height: 1.8;
        }
        a {
            font-size: 18px;
        }
    }
    .header-partial {
        header.page-header {
            position: absolute;
        }
    }
    .block-supply-stats {
        padding-bottom: 80px;
    }
    blockquote.wp-block-quote {
        padding-top: 80px;
    }
    .block-supply-content-block {
        padding-bottom: 112px;
        padding-top: 136px;
    }
    
   // will delete or unmute when I determine why this is here - .block-supply-list-block.cp3 {  margin-bottom: 56px; }

}

@include media-breakpoint-up(3xl) {
    
    .block-supply-content-block {
        padding-bottom: 156px;
        padding-top: 180px;
    }
    blockquote.wp-block-quote {
        padding-top: 100px;
    }
    .block-supply-stats {
        padding-bottom: 100px;
    }
}
@include media-breakpoint-up(4xl) {
    .block-supply-list-block.cp3 {
        margin-bottom: 56px;
    }
    .block-supply-list-block.cp3 {
        margin-bottom: 80px;
        .cp2 {
            margin-bottom: 0 !important;
        }
    }
}

@include media-breakpoint-down(md) {
    blockquote.wp-block-quote p, blockquote.wp-block-quote cite strong, blockquote.wp-block-quote cite span {
        text-align: left;
    }
}