
.block-supply-stats {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid rgb($white,.39);
    border-bottom: 1px solid rgb($white,.39);
    margin-bottom:30px;
    margin-top: 30px;
    h4.stats {
        font-size: 84px;
        font-weight: 500;
        margin-bottom: 4px;
        line-height: 84px;
    }
    .col-md-4 {
        margin-bottom: 44px;
        p {
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                    font-size: 18px;
            }
            @include media-breakpoint-up(dlg) {
                font-size: 20px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
blockquote.wp-block-quote {
    border-left: none!important;
    margin: 0 0 70px;
    padding: 30px 0;
    line-height: 1.33;
    display: block;
}
.block-supply-content-block {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 100px;
    h5 {
        font-size: 32px;
    }
    h1, h2, h3, h4, h5, h6, .h7, .h8 {
        margin-bottom: 28px;
        line-height: 1.125;
    }
    p {
        line-height: 1.667;
        span {
            font-size: inherit;
            line-height: inherit;
        }
    
    }
}
.bg-light {
    .block-supply-stats {
        border-top: 1px solid rgb($primary,.39);
        border-bottom: 1px solid rgb($primary,.39);
    }
    blockquote.wp-block-quote {
        border-bottom: 1px solid rgb($primary,.39) !important;
    }
}
.block-supply-separator-block {
    border-bottom: 1px solid currentColor !important;
    opacity: 0.39;

}
.block-supply-list-block {
    .supply-list {
        p {
            font-family: $link_font;
            line-height: 1.714;
            font-size: 14px;
            opacity: 0.75;
            @include media-breakpoint-up(dlg) {
                font-size: 18px;
            }
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}
header.page-header {
    padding-top: 80px;
    padding-bottom: 60px;
    @include media-breakpoint-up(md) {
        padding-top: 280px;
    }
    h1 {
        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
    }
}
.header-partial {
    header.page-header {
        display: flex;
        align-items: center;
        @include media-breakpoint-up(md) {
            text-align: center;
        }
        justify-content: center;
    }
    
}
.block-supply-logo-garden {
    padding-top: 84px;
    @include media-breakpoint-up(md) {
        padding-top: 136px;
    }
    @include media-breakpoint-up(3xl) {
        padding-top: 180px;
    }
    img {
        margin-bottom: 39.8px;
        height: 36px;
    }
    > .spacer.cp4 {
        margin-bottom: 0;
        padding-top: 136px;
    }
}
.block-supply-contact-block {
    .footer-content {
        line-height: 1.67;
        a {
            font-size: inherit;
            font-family: inherit;
        }
        p {
            line-height: 1.67;
            margin-bottom: 0;
            margin-top: 0;
        }
        .footer-label {
            font-size: 14px;
            opacity: 0.75;
            margin-bottom: 18px;
        }
    }
    @include media-breakpoint-up(lg) { 
        .supply-underline {
            a {
                .nav-underline {
                    width: 100%;
                }
            }
        }
    }
}
.block-supply-feature-block {
    .tagline-section {
        p {
            line-height: 1.667;
        }
        @include media-breakpoint-up(xl) {
            h3 {
                font-size: 52px;
            }
            a {
                font-size: 18px;
            }
            p {
                font-size: 20px;
            }
        }
        @include media-breakpoint-up(3xl) {
            h3{
                font-size: 62px;
            }
            a {
                font-size: 20px;
            }
            p {
                font-size: 28px;
            }
        }
        .row {
            align-items: center;
            .carousel {
                .carousel-item {
                    min-height: 200px;
                    .logo-container {
                        opacity: 0;
                        transition: opacity 0.15s linear 0s;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &.active {
                        .logo-container {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


.tagline-section {
    section.splide {
        padding-top: 60px;
        @include media-breakpoint-up(md) {
            padding-top: 0;
        }
    }
    .splide__slide:not(.is-active) {
        opacity:0 !important;
        visibility:hidden !important;
      }
      .is-active + .splide__slide {
        opacity: 1 !important;
        visibility:visible !important;
      }
      .splide__slide {
            transition: 1.3s ease opacity;
            .logo-container {
                text-align: center;
                img {
                    margin: 0 auto;
                    height: 69px;
                    @include media-breakpoint-up(dlg) {
                        height: 44px;
                    }
                    @include media-breakpoint-up(xl) {
                        height: 82px; 
                    }
                }
            }
        }
      .splide__track:not(:hover) .splide__slide.is-active{
      animation: slide-item-fade-out 0.3s linear 4500ms 1 normal forwards;
          
        }
          @keyframes slide-item-fade-out {
                  
              0% {
                  opacity:1;
              }
              100% {
                  opacity:0;
              }
          }
}
@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide__track--fade>.splide__list>.splide__slide{margin:0!important;opacity:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__container{box-sizing:border-box;position:relative}.splide__list{backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide:not(.is-overflow) .splide__pagination{display:none}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}
.splide__track{
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.posts-loop.cp4 {
    padding-top: 20px;
    .col-md-6 .card .card-title {
        margin-bottom: 0;
    }
}
.block-posts-content-block, .posts-loop {
    article.cp3 {
        @include media-breakpoint-down(md) {
            margin-bottom: 60px;
        }
    }
    .card {
        transition: opacity .3s ease-in-out;
            .post-thumbnail {
                background-color: #000;
                transition: opacity .3s ease-in-out;
                position: relative;
                &:after{
                    transition: opacity .3s ease-in-out;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left:0;
                    top:0;
                    content:'';
                    background-color: #000;
                    opacity:0;
                }
            }
        &:hover {
            .post-thumbnail {
                &:after{
                    opacity:.25;
                }
            }
        }
    }
}
.block-supply-call-to-action, .call-to-action-section {
    h1 {
        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
        @include media-breakpoint-up(md) {
            line-height: 1.27;
        }
    }
}
@include media-breakpoint-up(md) {
    .block-supply-feature-block { 
        p {
            line-height: 1.8;
        }
        a {
            font-size: 18px;
        }
    }
    .header-partial {
        header.page-header {
            position: absolute;
            min-height: 100%;
        }
    }
    .block-supply-stats {
        margin-top: 66px;
        padding-top: 80px;
        margin-bottom: 50px;
        padding-bottom: 36px;
    }
    blockquote.wp-block-quote {
        border-bottom: 1px solid rgb($white,.39) !important;
        padding-top: 30px;
        padding-bottom: 80px;
        margin-bottom: 136px;
    }
    .block-supply-content-block {
        padding-top: 66px;
        padding-bottom: 112px;
    }
    
    .block-supply-list-block.cp3 {
        margin-bottom: 56px;
    }

}
@include media-breakpoint-up(4xl) {
    .block-supply-list-block.cp3 {
        margin-bottom: 56px;
    }
    .block-supply-list-block.cp3 {
        margin-bottom: 80px;
        .cp2 {
            margin-bottom: 0 !important;
        }
    }
}

@include media-breakpoint-down(md) {
    blockquote.wp-block-quote p, blockquote.wp-block-quote cite strong, blockquote.wp-block-quote cite span {
        text-align: left;
    }
}