.single-careers {
    h3.entry-title {
        margin-top: 53px;
    }
    &__sections {
        border-top: 1px solid rgb($primary,.39) !important;
        border-bottom: 1px solid rgb($primary,.39) !important;
        &__section {
            .section-content {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__label {
        opacity: 0.75;
        font-size: 14px;
        @include media-breakpoint-up(3xl) {
            font-size: 18px;
        }
    }
}
.page-template-careers {
    .card {
        border-bottom: 1px solid rgb($primary,.39) !important;
        .entry-summary {
            margin-bottom: 24px;
            @include media-breakpoint-up(lg) {
                max-width: 70%;
            }
        }
    }
    .header-container.header-partial {
        margin-bottom: 100px;
        @include media-breakpoint-up(md) {
            margin-bottom: 136px;
        }
        @include media-breakpoint-up(3xl) {
            margin-bottom: 180px;
        }
    }
}