.footer {
    min-height: 805px;
    a {
        text-decoration: none;
    }
    .footer-content {
        line-height: 30px;
        p {
            line-height: 30px;
            margin-bottom: 0;
            margin-top: 0;
            @include media-breakpoint-up(md) { 
                line-height: 36px;
            }
        }
        .footer-label {
            font-size: 14px;
            opacity: 0.75;
            margin-bottom: 18px;
        }
    }
    .footer-cta {
        .input-group {
            flex-wrap: initial;
        }
    }
    a, .nav-link {
        color: $white;
    }
    .nav {
        .nav-link {
            font-size: 24px;
            padding-top: 0;
            padding-bottom: 32px;
            padding-left: 0;
        }
    }
    @include media-breakpoint-up(md) { 
        p, p > a {
            font-size: 20px;
        }
    }
    @include media-breakpoint-up(lg) { 
        .supply-underline {
            .nav-link {
                .nav-underline {
                    width: calc(100% - 2.25rem);
                }
            }
            a {
                .nav-underline {
                    width: 100%;
                }
            }
        }
    }
}