.bg-dark, .bg-black {
     .form-control {
        color: $white;
        border-color: rgba($white, 0.75);
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
            opacity: 0.5;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $white;
            opacity: 0.5;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $white;
            opacity: 0.5;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active{
            -webkit-box-shadow: 0 0 0 30px $black inset !important;
            -webkit-text-fill-color: $white !important;
        }
    }
    .footer-btn {
        background-color: transparent;
        font-family: $link_font;
        color:white;
        opacity: .5;
    }
    .form-control:focus{
        border-color: rgba($white, 1);
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
            opacity: 0.65;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $white;
            opacity: 0.65;
        }

    }
    .form-control:focus + .footer-btn, .input-group:hover .footer-btn {
        opacity: 1;
    }
}
.form-control {
    opacity: 0.75;
    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $primary;
        opacity: 0.75;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $primary;
        opacity: 0.75;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $primary;
        opacity: 0.75;
    }
    &:focus, &:-internal-autofill-selected {
        opacity: 1;
        border-color: $primary;
        background-color: transparent !important;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $primary;
            opacity: 0.95;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $primary;
            opacity: 0.95;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active{
            -webkit-box-shadow: 0 0 0 30px $white inset !important;
            -webkit-text-fill-color: $primary !important;
        }
    }
}
textarea.form-control {
    height: 1.75rem;
}
input.wpcf7-form-control.wpcf7-submit.footer-btn {
    font-size: 14px;
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
}
.form-control {
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0;
    outline: none;
    transition: opacity 0.15s linear;
}
.footer {
    .footer-btn {
        margin-left: -25px !important;
        border: none;
        position: relative;
        z-index: 99;
    }
}
.wpcf7 form.sent .wpcf7-response-output {
    background-color: $success;
    border-color: $success;
    font-size:0.85rem;
    color: $gray-900;
    display: inline;
}