.logo-container {
    height: 88px;
    width: 276px;
    margin-bottom: 48px;
    text-align: center;
    img {
        max-width:100%;
        max-height: 100%;
    }
}
.carousel-item {
    .logo-container  + .logo-container  {
        margin-bottom: 0;
    }
}