#header.navbar {
    padding-top:0;
    padding-bottom: 0;
    .navbar-toggler {
        box-shadow: none !important;
    }
}
.social-nav {
    list-style: none;
    padding: 0;
    li {
        display: inline;
        a {
            padding-bottom: 29px;
            display: inline-block;
            text-align: center;
        }
    }
    &:hover{
        a {
            opacity:0.5;
            &:hover {
                opacity:1;
            }
        }
    } 
}
.navbar.bg-transparent {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%);
    background-color: transparent;
}