#header.navbar {
    padding-top:0;
    padding-bottom: 0;
    transition: background-color .4s ease-in-out,color .4s ease-in-out, opacity .4s ease-in-out;
    li .nav-link {
        text-shadow: none;
        outline: none;
    }
    @include media-breakpoint-up(md) { 
        .nav-link {
            padding-top: 45px;
            font-size: 18px;
            padding-bottom: 45px;
        }
    }
    .navbar-toggler {
        box-shadow: none !important;
    }
    .navbar-collapse.show {
        transition: transform 0.4s, opacity 0.2s;
    }
    &.is-hidden {
        opacity: 0;
        transition: transform 0.65s, opacity 0.2s;
      }
    &.navbar-dark .navbrand-light {
        opacity: 0;
        transition: transform 0.65s, opacity 0.2s;
        display:none;
    }
    &.navbar-light .navbrand-dark {
        opacity: 0;
        transition: transform 0.65s, opacity 0.2s;
        display:none;
    }
    &.bg-transparent-dark {
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%);
        background-color: transparent;
        .navbrand-light {
            opacity: 0;
            transition: transform 0.65s, opacity 0.2s;
            display:none;
        }
    }
    &.bg-transparent-light {
        background:transparent;
        background-color: transparent;
        .navbrand-dark {
            opacity: 0;
            transition: transform 0.65s, opacity 0.2s;
            display:none;
        }
    }

    @include media-breakpoint-down(md) { 
        .navbar-collapse {
            background-color: $black;
            margin-left: -20px;
            margin-right: -20px;
            color: $white;
            height: 568px !important;
            position: absolute;
            width: calc(100% + 40px);
            top:0;
            transition: margin 700ms !important;
            margin-left: -124%;
            &.show {
                margin-left:-20px;
                animation: 700ms slide-right;
            
            }
            .navbar-nav {
                padding: 80px 27px;
                a.nav-link, a.nav-link.active {
                    color: $white;
                }
            }
        
            &.collapsing {
                margin-left: -120%;
                transition: margin 400ms !important;
            }
        }
        button.navbar-toggler.hamburger {
            position: relative;
            z-index: 9;
        }
    }

}
.footer .nav li:last-child .nav-link {
    padding-bottom: 0;
}
#main {
    margin-top: 80px;
    @include media-breakpoint-up(md) { 
        margin-top: 120px;
    }
    .under-nav {
        // margin-top: -80px; deleting once i figure out why I added this here in the first place
        @include media-breakpoint-up(md) { 
            margin-top: -120px;
        }
    }
}
.social-nav {
    list-style: none;
    padding: 0;
    margin-bottom: 51px;
    li {
        display: inline;
        a {
            padding-bottom: 29px;
            display: inline-block;
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 22px;
        }
        &:first-child a{
            padding-left: 0;
        }
        &:last-child a{
            padding-right: 0;
        }
    }
    &:hover{
        a {
            opacity:0.5;
            &:hover {
                opacity:1;
            }
        }
    } 
}
    .hamburger-box {
        height: 14px !important;
        width: 20px;
      }
      .hamburger.is-active:hover, .hamburger:hover {
         opacity: 1; 
    }
    #header.navbar:not(.mobile-nav-open) {
        [aria-expanded="false"] {
            .hamburger-inner:before {
                top: -6px !important;
            }
            .hamburger-inner:after {
                bottom: -6px !important;
            }
        }
    }
@keyframes slide-right {
    from {
      margin-left: -120%;
    }
    to {
      margin-left: -20px;
    }
  }
  @include media-breakpoint-down(md) { 
    .mobile-nav-open {
        &.navbar-light, 
        &.navbar-dark  {
            .navbar-toggler:not(.collapsed) {
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
                    background-color: white;
                }
            }
        }
    }
}