body {
    &.navbar-dark {
        #header.navbar .navbrand-light {
            opacity: 0;
            transition: transform 0.65s, opacity 0.2s;
            display:none;
        }
    }
    &.navbar-light #header.navbar .navbrand-dark {
        opacity: 0;
        transition: transform 0.65s, opacity 0.2s;
        display:none;
    }
    &.bg-transparent-dark #header.navbar {
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%);
        background-color: transparent;
        .navbrand-light {
            opacity: 0;
            transition: transform 0.65s, opacity 0.2s;
            display:none;
        }
    }
    &.bg-transparent-light #header.navbar {
        background:transparent;
        background-color: transparent;
        .navbrand-dark {
            opacity: 0;
            transition: transform 0.65s, opacity 0.2s;
            display:none;
        }
    }
    &.nav-bg-dark #header.navbar {
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }
    &.nav-bg-light #header.navbar {   
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    }
    #wrapper {
        &.bg-dark:not(.bg-header) {
            & > header {
                & > .navbar {
                    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
                    .navbrand-light {
                        opacity: 0;
                        transition: transform 0.65s, opacity 0.2s;
                        display:none;
                    }
                    .navbrand-dark {
                        opacity: 1;
                        display:initial;
                    }
                }
            }

        }
        &.bg-light:not(.bg-header) {
            & > header > .navbar {
                background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
                    .navbrand-dark {
                    opacity: 0;
                    transition: transform 0.65s, opacity 0.2s;
                    display:none;
                }
                .navbrand-light {
                    opacity: 1;
                    display:initial;
                }
            }
        }
    }
}
#header.navbar {
    padding-top:0;
    padding-bottom: 0; 
    -webkit-transition: background-color .6s ease-in-out,color .6s ease-in-out, opacity .6s ease;
    transition: background-color .6s ease-in-out,color .6s ease-in-out, opacity .6s ease;
    will-change: background-color,color, opacity;
        li .nav-link {
        text-shadow: none;
        outline: none;
    }
    .nav-link {
        font-size: 24px;
    }
    @include media-breakpoint-up(md) { 
        .nav-link {
            padding-top: 45px;
            font-size: 18px;
            padding-bottom: 45px;
        }
    }
    .navbar-toggler {
        box-shadow: none !important;
    }
    &.is-hidden {
        opacity: 0;
        transition: transform 0.65s, opacity 0.2s;
      }

}
.footer .nav li:last-child .nav-link {
    padding-bottom: 0;
}
#main {
    margin-top: 80px;
    @include media-breakpoint-up(md) { 
        margin-top: 120px;
    }
    .under-nav {
        // margin-top: -80px; deleting once i figure out why I added this here in the first place
        @include media-breakpoint-up(md) { 
            margin-top: -120px;
        }
    }
}
.social-nav {
    list-style: none;
    padding: 0;
    margin-bottom: 51px;
    li {
        display: inline;
        a {
            padding-bottom: 29px;
            display: inline-block;
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 22px;
            @include media-breakpoint-up(md) { 
                font-size: 24px;
            }
        }
        &:first-child a{
            padding-left: 0;
        }
        &:last-child a{
            padding-right: 0;
        }
    }
    &:hover{
        a {
            opacity:0.5;
            &:hover {
                opacity:1;
            }
        }
    } 
}
    .hamburger-box {
        height: 14px !important;
        width: 20px;
      }
      .hamburger.is-active:hover, .hamburger:hover {
         opacity: 1; 
    }
@keyframes slide-right {
    from {
      margin-left: -130%;
    }
    to {
      margin-left: -20px;
    }
  }
  @include media-breakpoint-down(md) { 
    #header.navbar {
        li {
            opacity:0;
            visibility:hidden;
        }
        .collapsing, .collapse{
            height: 100vh !important;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease;
        }
    } 
    .mobile-nav-open .navbar-brand {
        -webkit-animation: fade-out .3s ease-out both;
                animation: fade-out .3s ease-out both;
    }
    body:not(.nd-open) {
        #header.navbar {
            li {
                opacity:0;
                visibility:hidden;
            }
            .collapsing, .collapse{
                height: 100vh !important;
                transition: opacity .2s ease;
            }
            .collapsing, .collapse, .collapse.show {
                opacity: 0;
                visibility: hidden;
            }
        } 

    }
    .nd-closing {
        .fold-container, .navbar-brand {
            -webkit-animation: fade-in .3s ease-out both;
            animation: fade-in .3s ease-out both;
        }
    }
    .nd-open {
        height: 100vh;
        overflow: hidden;
         .fold-container {
            -webkit-animation: fade-out .3s ease-out both;
            animation: fade-out .3s ease-out both;
        }
        .navbar-brand {
            -webkit-animation: fade-out .2s ease-out both;
            animation: fade-out .2s ease-out both;
        }
        #header.navbar { 
            &.bg-transparent-light {
                background-color: $white;
                background: $white;
            }   
            .collapse.show {
                    -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                .navbar-nav {
                    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
                    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
                    li {  
                        -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        opacity:1;
                        visibility:visible;
                    }
                }
            }
        }     
    }
}