body {
    h1, h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h7, .h8 {
        a {
            font-size: inherit;
            font-family: inherit;
        }
    }
}
h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Calibre';
    font-weight: 600;
}
.h7 {
    font-family: 'Calibre';
    font-size: 1rem;
}
a, .nav-link {
    font-family: $link_font;
    transition: color .25s;
}
.iso-reg { 
	font-family: $link_font;
}
.nav-link, a {
    transition: ease 0.15s;
}
.h8 {
    font-family: $link_font;
    font-size: 14px;
}

blockquote, blockquote.wp-block-quote {
    font-style: italic;
    font-size: 24px;
    line-height: 1.33;
    p {
        margin-bottom: 28px;
    }
    cite {
        font-family: Calibre;
        font-size: 16px;
        line-height: 1.5;
        strong {
            font-weight: 600;
        }
        &::before {
            content: "— ";
            font-weight: 600;
        }
    }
}